@import "";
.tight {
    padding: 0px;
    margin: 0px;
}

.full {
    float: left;
    width: 100%;
}

.stats {
    padding: 0px;
    margin: 0px;
}


/* #self_picture {
    width: 10px;
} */

#welcome {
    background-color: #C0C0C0;
    border: 2px solid powderblue;
}

.space {
    /* padding: 10px; */
    padding-top: 1%;
}

.data {
    font-family: Courier, Arial, Helvetica;
}

#mytag {
    border: 2px solid powderblue;
}

.body {
    font-family: 'Courier New', Courier, monospace;
    border: 0px solid red;
    margin: 0px;
}

body {
    text-align: justify;
    /* background: black; */
    /* max-width: 1400px; */
    padding: 0%;
    margin: 0px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    /* padding:0px; 
   margin:0px;  */
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /* border: 2px solid red; */
}


/* ol {
    overflow: scroll;
    width: 95%;
    height: 100%;
    text-align: left;
    background-color: #11574041;
    border-radius: 8px;
} */

ol {
    /* overflow: scroll; */
    /* width: 100%; */
    /* height: 100%; */
    text-align: center;
    /* background-color: #11574041; */
    /* border-radius: 8px; */
    font-size: 10;
    /* height: 80%; */
    margin: 1%;
}

.ldiv {
    height: 300px;
    /* overflow: hidden; */
    background-color: red;
    width: 50%;
}

.width_lim {
    text-align: center;
    /* max-width: 880px; */
    padding-left: 1%;
    padding-right: 1%;
}

.height_lim {
    /* max-height: 880px; */
    /* height: 95%; */
    max-height: 100%;
    overflow: hidden;
    /* padding-top: 5%; */
    /* padding-bottom: 5%; */
}

.centerTool {
    margin: auto;
    /* width: 9%; */
    /* border: 5px solid #FFFF00; */
    /* padding: 15px; */
    /* max-width: 1400px; */
}


/* Set the size of the div element that contains the map */

.google-map {
    /* height: 50%; */
    height: 80%;
    /* overflow: hidden;
    position: relative;
    padding: 10px;
    border: 2px solid blue; */
    /* new */
    width: 100%;
    background-color: #11574085;
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* padding-bottom: 5px; */
}


/* #self_picture {
    padding-bottom: 100px;
} */


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* navigation below (fron w3schools) */

#wm_link_img {
    max-width: 5px;
    overflow: hidden;
}


/* Add a black background color to the top navigation */

.topnav {
    width: 100%;
    background-color: #115740;
    /* border-radius: 8px; */
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


/* The animation code */

@keyframes big_text {
    from {
        font-size: 17px;
    }
    to {
        font-size: 23px;
    }
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    /* color: #115740; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    transition: font-size 200ms;
}


/* Change the color of links on hover */

.topnav a:hover {
    border-radius: 25px;
    /* color: #F0B323; */
    color: #F0B323;
    font-size: 19px;
}


/* Add a color to the active/current link */

.topnav a.active {
    /* background-color: #04AA6D; */
    /* color: red; */
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 8px;
    color: #F0B323;
    font-size: 19px;
}

.center {
    margin: auto;
    width: 90%;
    /* border: 5px solid #FFFF00; */
    padding: 15px;
    max-width: 1400px;
}

.column_set {
    width: 100%;
    padding-bottom: 200px;
}

.column_left {
    text-align: justify;
    float: left;
    width: 63%;
    padding-right: 1%;
    padding-left: 14px;
    /* background-color: #f3f3f3; */
    background-color: #1157401b;
    border-radius: 15px;
}

.column_right {
    text-align: left;
    float: left;
    width: 33%;
    padding-bottom: 5px;
    /* padding-top: 15px; */
    /* padding-bottom: 150px; */
    padding-left: 1%;
    border-radius: 15px;
}

.column_set_tool {
    width: 100%;
    padding-bottom: 200px;
}

.column_left_tool {
    /* height: 80%; */
    text-align: justify;
    float: left;
    width: 63%;
    padding-right: 1%;
    /* padding-left: 14px; */
    /* background-color: #f3f3f3; */
    /* background-color: #1157401b; */
    /* border-radius: 15px; */
    border-radius: 8px;
}

.column_right_tool {
    height: 80%;
    text-align: left;
    float: left;
    width: 36%;
    /* height: 100%; */
    /* padding-bottom: 5px; */
    /* padding-top: 15px; */
    /* padding-bottom: 150px; */
    /* padding-left: 1%;
    padding-right: 1%; */
    border-radius: 15px;
    background-color: #1157401b;
    /* background-color: red; */
    border-radius: 8px;
    max-height: 100%;
    overflow: scroll;
}

.tool_view {
    /* height: 100%; */
}

.page_block {
    background-color: #505050;
}

.log_label {
    margin: 1%;
    text-align: center;
    font-size: 12;
    padding: 0%;
}