@import "";
.tight {
    padding: 0px;
    margin: 0px;
}

.full {
    float: left;
    width: 100%;
}

.stats {
    padding: 0px;
    margin: 0px;
}


/* #self_picture {
    width: 10px;
} */

#welcome {
    background-color: #C0C0C0;
    border: 2px solid powderblue;
}

.data {
    font-family: Courier, Arial, Helvetica;
}

#mytag {
    border: 2px solid powderblue;
}

.body {
    font-family: 'Courier New', Courier, monospace;
    border: 2px solid red;
    margin: auto;
}

body {
    text-align: justify;
    /* background: black; */
    /* max-width: 1400px; */
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

.p {
    /* font-family: 'Courier New', Courier, monospace; */
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid yellow;
}

p {
    /* padding:0px; 
   margin:0px;  */
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    /* border: 2px solid red; */
}


/* #self_picture {
    padding-bottom: 100px;
} */


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Set the size of the div element that contains the map */

.google-map {
    height: 50%;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
    overflow: hidden;
    position: relative;
}


/* navigation below (fron w3schools) */

#wm_link_img {
    max-width: 5px;
    overflow: hidden;
}


/* Add a black background color to the top navigation */

.topnav {
    width: 100%;
    background-color: #115740;
    border-radius: 8px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}


/* The animation code */

@keyframes big_text {
    from {
        font-size: 17px;
    }
    to {
        font-size: 23px;
    }
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    /* color: #115740; */
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    transition: font-size 200ms;
}


/* Change the color of links on hover */

.topnav a:hover {
    border-radius: 25px;
    /* color: #F0B323; */
    color: #F0B323;
    font-size: 19px;
}


/* Add a color to the active/current link */

.topnav a.active {
    /* background-color: #04AA6D; */
    color: white;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    border-radius: 8px;
}

.center {
    margin: auto;
    width: 90%;
    /* border: 5px solid #FFFF00; */
    padding: 15px;
    max-width: 1400px;
}

.column_set {
    width: 100%;
    padding-bottom: 200px;
}

.column_left {
    text-align: justify;
    float: left;
    width: 63%;
    padding-right: 1%;
    padding-left: 14px;
    /* background-color: #f3f3f3; */
    background-color: #1157401b;
    border-radius: 15px;
}

.column_right {
    float: left;
    width: 33%;
    padding-bottom: 5px;
    /* padding-bottom: 150px; */
    padding-left: 1%;
}

.page_block {
    background-color: #505050;
}